coverage/
artifacts/
node_modules/
static/js/main.js
static/js/main.css
**/npm-debug.log
**/ynpm-debug.log
tmp/
CVS/
.DS_Store
.*.swp
.svn
*~
.com.apple.timemachine.supported
*.log
static/*
babel.json
dist
